*{
    margin: 0;
    padding: 0;
}
.signin-page {
    width: 100%;
    height: 100vh;
    float: left;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.611) 0%,rgba(0, 0, 0, 0.693)100%), url("../../assets/img/signup2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Patua One;

}

.sinup-page {
    width: 100%;
    height: 100vh;
    float: left;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.611) 0%,rgba(0, 0, 0, 0.693)100%), url("../../assets/img/signup3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Patua One;
}


.input_field:focus {
box-shadow: none !important;
background-color: inherit;
color: white;
border: 1px solid white !important;
 } 

.input_field {
    padding : "10px";
    border : 1px solid rgb(143, 138, 138) !important;
    margin-top : "20px" !important
}

.signupText {
    font-size: 40px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
   
}

.signupText {
    content: "";
     border-bottom: 5px solid red;
     width : 150px
}

.Signup_img {
    width: 100%;
}
.lePeek span { animation: lePeek 2s ease-in-out; animation-iteration-count: infinite  }
@keyframes lePeek {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}

.signinWrapper {
    background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.1);
}

.signin-page input , .sinup-page input {
    background-color: inherit;
}

.custom-btn {
    background-color: inherit !important;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-color: #C0EB36 !important;
}



/* User Deshbord Start Here */
/* //////////////////////////////// */


.user-deshbord {
    width: 100%;
    height: 100%;
    float: left;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.611) 0%,rgba(0, 0, 0, 0.693)100%), url("../../assets/img/logox.png");
    background-size: cover;
    background-position: center;
    
    font-family: Patua One;
}

.userMenu {
    background: #720707;
    border-radius: 5px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.3);
 text-align: center;
 font-family: Patua One;
 
}

.userMenu ul li {
    background-color:  white;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
}

.userMenu ul li button {
    padding: 0px ;
}

.user-order {
    background: #720707;
    border-radius: 5px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.3);
 text-align: center;
 font-family: Patua One;
 color: wheat !important;
 margin-top: 10px;
}

.list-header {
    list-style: none;
    background-color: #720707;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}