@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
.sliderImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.headerTitle {
    margin: 0px;
    font-weight: 600;
    font-size: 30px;
    color: black;
}
.card {
    cursor: pointer;
}
.card:hover {
    box-shadow: 0px 2px 10px rgba(255, 0, 0, 0.514);
    transition: 0.3s all;
}
.card img {
    width: 100%;
    height: 220px;
}
.card_price p {
    font-size: 16px !important;
}
.price {
    padding-bottom: 0px !important;
}
.card h6,p {
    font-weight: 600;
}
.bestSaleStart {
    font-size: 20px;
    color: rgb(165, 236, 0);
    border-bottom: 5px solid black;
    border-radius: 10px;
}
.bestSaleStart:nth-child(2){
    font-size: 30px;
    
}
.bestSlider .sliderItem {
    width: 300px !important;
}

@media(max-width : 768px){
    .sliderImg {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
}














#wrapper {
  width: 250px;
  height: 370px;
  background: white;
 
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
#wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
#wrapper #container {
  width: 100%;
  height: 100%;
}
#wrapper #container .top {
  height: 80%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
#wrapper #container .top img {
  width: 100%;
  height: 100%;
}
#wrapper #container .bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
#wrapper #container .bottom.clicked {
  transform: translateX(-50%);
}
#wrapper #container .bottom h1 {
  margin: 0;
  padding: 0;
  margin-top:10px;
  font-size: 27px;
}
#wrapper #container .bottom p {
  margin: 0;
  padding: 0;
}
#wrapper #container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
 
}
#wrapper #container .bottom .left .details {
  padding: 10px;
  float: left;
  width: calc(70% - 40px);
  
}
#wrapper #container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
#wrapper #container .bottom .left .buy i {
  font-size: 30px;
  padding: 15px;
  color: #254053;
  transition: transform 0.5s;
}
#wrapper #container .bottom .left .buy:hover {
  background: #A6CDDE;
}
#wrapper #container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394B;
}
#wrapper #container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 100%;
  overflow: hidden;
  
}
#wrapper #container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(60% - 50px);
  
}
#wrapper #container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
#wrapper #container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
#wrapper #container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}
#wrapper #container .bottom .right .remove:hover {
  background: #9B2847;
}
#wrapper #container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
#wrapper #container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
#wrapper #container .bottom .right:hover .remove, #wrapper #container .bottom .right:hover .done {
  transform: translateY(-100%);
}
#wrapper .inside {

 

  z-index: 9;
  background: #1B3F9E;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;



  background: rgba(42, 4, 255, 0.24);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: black !important;
}
#wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: rgb(0, 0, 0);
  opacity: 1;
}
#wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
#wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
#wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
#wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
#wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
#wrapper .inside .contents h1, #wrapper .inside .contents p, #wrapper .inside .contents table {
  color: rgb(0, 0, 0);
}
#wrapper .inside .contents p {
  font-size: 13px;
}

.left p {
    font-size: 15px;
  
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}


#banner {
  width: 100%;
  height:700px;
  float: left;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.511) 0%,rgba(0, 0, 0, 0.593)100%), url("../../assets/img/banner.jpeg");
  background-size: cover;
  background-position: center;
 
  
}

.textField {
  margin-top: 250px;
  margin-left: 350px;
  font-weight: bold;
  color: #C0EB36;
  font-family: Patua One;
  font-size: 50px;
}

#banner button, .paralaxBtn {
 margin-left: 600px;
 
  color: black;
  font-family: Patua One;
  font-size: 20px;
 
  background-color: #C0EB36;
  width: 160px;
  text-align: left;
 
}

.categoriSection {
  background-color: #7274702c;
  padding: 50px 0px;
  font-family: Patua One ;
 
  
}
.categoriSectionContect{
  position: absolute;
  top: -100px;
}


.ServiceField {
  
  top: -100px;
  padding-bottom: "50px" !important;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
font-weight: bold;
}
#banner span {
  animation :  animates 1s linear infinite;
}

.paralax {
    width: 100%;
    height:380px;
    float: left;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.611) 0%,rgba(0, 0, 0, 0.693)100%), url("../../assets/img/peralax1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0px;
    margin-bottom: 100px;

}

.paralax1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color : wheat;
  
  font-family: Patua One;
  color: #C0EB36;
  
}

.quote {
  
  background: rgba(255, 255, 255, 0.2);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.bgQute {
  background-color: #2c2c2b;
  padding: 40px 0px;
  text-align: center;
  color: #fff;
}

@keyframes animates {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left : 20px;
  }
  100% {
    margin-left: 0px;
  }
}